* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    background-color: #000;
}

/*NAV SECTION AND HEADER SECTION*/

header {
    background-color: black;
    position: sticky;
    height: 10vh;
    container-type: inline-size;
    container-name: header;
    border-bottom: solid 2px white;
}

.header__mark {
    display: inline;
    color: white;
    position: relative;
    left: 25px;
    top: 25px;
}

.nav__label-checkbox {
    font-size: 3rem;
    font-weight: 600;
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    color: #3FDB49;
}

.nav__checkbox, .nav__list {
    display: none;
}

.nav__list {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    flex-direction: column;
    justify-content: center;
    gap: 60px;
    background-color: #000000;
    z-index: -1;
}

.nav__checkbox:checked ~ .nav__list {
    display: flex;
}

.nav__item {
    text-align: center;
    list-style: none;
}

.nav__item a {
    color: white;
    text-decoration: none;
    font-size: 1.4rem;
    transition-property: color;
    transition-duration: 0.5s;
}

.nav__item a:hover {
    color: #3FDB49;
    text-shadow: 0 0 10px #1fff33;
}

/* container header*/

@container header (min-width: 600px) {

    .nav__label-checkbox {
        display: none;
        flex-direction: row;
    }

    .header__mark {
        display: none;
    }

    nav {
        margin-top: 20px;
    }

    .nav__list {
        width: auto;
        height: auto;
        position: initial;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        gap: initial;
        background-color: transparent;
        z-index: 1;
    }

    .nav__item:last-child a {
        padding: 7px 22px;
        border: solid 2px white;
        border-radius: 10px;
        background-color: #3FDB49;
        align-self: baseline;
        transition-property: background-color;
        transition-duration: 0.6s;
    }

    .nav__item a:not(.nav__item:last-child a):hover {
        text-decoration: underline;
        color: white;
        text-shadow: none;
    }

    .nav__item:last-child a{
        color: white;
        text-shadow: none;
    }

    .nav__item:last-child a:hover {
        background-color: #3Fab49;
    }
}

/*MAIN PART*/
/*Photo and introduction section*/

.main__introduction-section {
    border-bottom: solid 2px white;
    padding: 20px;
    display: flex;
    gap: 20px;
}

.introduction-section__img {
    background-image: url("/images-folder/yo.jpeg");
    background-position: 70% center;
    background-size: 170%;
    max-width: 350px;
    min-width: 250px;
    flex-grow: 1;
    height: 350px;
    border: solid 2px #3FDB49;
    border-radius: 10%;
}

.introduction-section__text-introduction {
    flex-grow: 1;
    flex-basis: 173px;
    flex-wrap: nowrap;
    max-width: 400px;
}

h1 {
    padding-top: 30px;
    color: white;
    text-align: center;
    line-height: 50px;
    font-weight: normal;
    font-size: 1.7em;
}

/* section of skills */

.skills-section__tittle-container {
    padding: 30px 10px;
}

.skills-section__tittle-text {
    color: white;
    text-align: center;
    font-size: 1.5em;
}

.skills-section__skills-container {
    padding: 0 40px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.skill__text-container p {

    text-align: center;
}

.skill__text-container {
    border: solid 2px white;
    border-radius: 7px;
    padding: 6px 15px;
    width: 25%;
    max-width: 200px;
    font-weight: 800;
}

.skill__js {
    background-color: yellow;
}

.skill__css {
    background-color: #190DFF;
}

.skill__html {
    background-color: #FF8324;
}

.skill__react {
    background-color: #11cfff;
}

.skill__git {
    background-color: #F28D09;
}

.skill__uix {
    background-color: #aaa;
}

.skill__value-container {
    padding: 10px 0 0 0;
}

.skill__value__container-container {
    border: solid 2px white;
    border-radius: 40px;
    background-color: #ddd;
    width: 80%;
    height: 20px;
    display: inline-block;
}

.skill__value__container-value {
    background-color: #3FDB49;
    height: 100%;
    border-radius: 40px 0 0 40px;
}

.percent-80 {
    width: 80%;
}

.percent-70 {
    width: 70%;
}

.percent-90 {
    width: 90%;
}

.percent-95 {
    width: 95%;
}

.skill__value__percent {
    display: inline-block;
    color: white;
    font-size: 1.6em;
    margin-left: 20px;
    position: relative;
    bottom: 3px;
}

/*QR skills and presentation*/

@media screen and (min-width: 650px) {
    .main__introduction-section {
        display: initial;
    }
    .introduction-section__img {
        border-radius: 50%;
        margin: auto;
    }
    .main__container-introduction-skills {
        display: flex;
    }

    .main__skills-section {
        flex-grow: 10;
    }

    .skills-section__skills-container {
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(2, 1fr);
    }
}