* {
    box-sizing: border-box;
}
body {
    background-color: black;
}

body, nav {
    margin: 0;
}

/*NAV SECTION*/

.nav__label-checkbox {
    font-size: 3rem;
    font-weight: 600;
    position: absolute;
    right: 10px;
    cursor: pointer;
    color: #3FDB49;
}

.nav__checkbox, .nav__list {
    display: none;
}

.nav__checkbox:checked ~ .nav__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding-top: 25%;
    position: absolute;
    width: 100vw;
    height: 100vw;
    top: 0;
    z-index: -1;
}

.nav__item {
    list-style: none;
    color: white;
}

.nav__item a {
    color: white;
    text-decoration: none;
    font-size: 1.4rem;
}

.nav__item a:hover {
    color: #3FDB49;
    text-shadow: 0 0 40px #3FDB49;
}
