* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    background-color: #000;
}

/*NAV SECTION AND HEADER SECTION*/

header {
    background-color: black;
    position: sticky;
    height: 10vh;
    container-type: inline-size;
    container-name: header;
    border-bottom: solid 2px white;
}

.header__mark {
    display: inline;
    color: white;
    position: relative;
    left: 25px;
    top: 25px;
}

.nav__label-checkbox {
    font-size: 3rem;
    font-weight: 600;
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    color: #3FDB49;
}

.nav__checkbox, .nav__list {
    display: none;
}

.nav__list {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    flex-direction: column;
    justify-content: center;
    gap: 60px;
    background-color: #000000;
    z-index: -1;
}

.nav__checkbox:checked ~ .nav__list {
    display: flex;
}

.nav__item {
    text-align: center;
    list-style: none;
}

.nav__item a {
    color: white;
    text-decoration: none;
    font-size: 1.4rem;
    transition-property: color;
    transition-duration: 0.5s;
}

.nav__item a:hover {
    color: #3FDB49;
    text-shadow: 0 0 10px #1fff33;
}

/* container header*/

@container header (min-width: 600px) {

    .nav__label-checkbox {
        display: none;
        flex-direction: row;
    }

    .header__mark {
        display: none;
    }

    nav {
        margin-top: 20px;
    }

    .nav__list {
        width: auto;
        height: auto;
        position: initial;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        gap: initial;
        background-color: transparent;
        z-index: 1;
    }

    .nav__item:last-child a {
        padding: 7px 22px;
        border: solid 2px white;
        border-radius: 10px;
        background-color: #3FDB49;
        align-self: baseline;
        transition-property: background-color;
        transition-duration: 0.6s;
    }

    .nav__item a:not(.nav__item:last-child a):hover {
        text-decoration: underline;
        color: white;
        text-shadow: none;
    }

    .nav__item:last-child a{
        color: white;
        text-shadow: none;
    }

    .nav__item:last-child a:hover {
        background-color: #3Fab49;
    }
}

/*Main SECTION*/

.main__introduction-section {
    border-bottom: solid 2px white;
    padding: 20px;
    display: flex;
    gap: 20px;
}

.introduction-section__img {
    background-image: url("/images-folder/yo.jpeg");
    background-position: 70% center;
    background-size: 170%;
    min-width: 250px;
    height: 350px;
    border: solid 2px #3FDB49;
    border-radius: 10%;
}

h1 {
    padding-top: 30px;
    color: white;
    text-align: center;
    line-height: 50px;
    font-weight: normal;
}
