* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    background-color: #000;
}

/*NAV SECTION AND HEADER SECTION*/

header {
    background-color: black;
    position: sticky;
    top: 0;
    z-index: 5;
    height: 10vh;
    container-type: inline-size;
    container-name: header;
    border-bottom: solid 2px white;
}

.header__mark {
    display: inline;
    color: white;
    position: relative;
    left: 25px;
    top: 25px;
}

.nav__label-checkbox {
    font-size: 3rem;
    font-weight: 600;
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    color: #3FDB49;
}

.nav__checkbox, .nav__list {
    display: none;
}

.nav__list {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    flex-direction: column;
    justify-content: center;
    gap: 60px;
    background-color: #000000;
    z-index: -1;
}

.nav__checkbox:checked ~ .nav__list {
    display: flex;
}

.nav__item {
    text-align: center;
    list-style: none;
}

.nav__item a {
    color: white;
    text-decoration: none;
    font-size: 1.4rem;
    transition-property: color;
    transition-duration: 0.5s;
}

.nav__item a:hover {
    color: #3FDB49;
    text-shadow: 0 0 10px #1fff33;
}

/* container header*/

@container header (min-width: 600px) {

    .nav__label-checkbox {
        display: none;
        flex-direction: row;
    }

    .header__mark {
        display: none;
    }

    nav {
        margin-top: 20px;
    }

    .nav__list {
        width: auto;
        height: auto;
        position: initial;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        gap: initial;
        background-color: transparent;
        z-index: 1;
    }

    .nav__item:last-child a {
        padding: 7px 22px;
        border: solid 2px white;
        border-radius: 10px;
        background-color: #3FDB49;
        align-self: baseline;
        transition-property: background-color;
        transition-duration: 0.6s;
    }

    .nav__item a:not(.nav__item:last-child a):hover {
        text-decoration: underline;
        color: white;
        text-shadow: none;
    }

    .nav__item:last-child a{
        color: white;
        text-shadow: none;
    }

    .nav__item:last-child a:hover {
        background-color: #3Fab49;
    }
}

/*MAIN PART*/
/*Photo and introduction section*/

.main__introduction-section {
    border-bottom: solid 2px white;
    padding: 20px;
    background-color: #000;
}

.introduction-section__img, .introduction-section__text-introduction {
    margin: auto;
}

.introduction-section__img {
    background-image: url("/images-folder/yo.jpeg");
    background-position: 100% center;
    background-size: 120%;
    max-width: 350px;
    height: 400px;
    border: solid 2px #3FDB49;
    border-radius: 10%;
}

.introduction-section__text-introduction {
    max-width: 400px;
}

h1 {
    padding-top: 30px;
    color: white;
    text-align: center;
    line-height: 50px;
    font-weight: normal;
    font-size: 1.7em;
}

/* section of skills */
.main__skills-section {
    container-type: inline-size;
    container-name: skills;
}

.skills-section__tittle-container {
    padding: 30px 10px;
}

.skills-section__tittle-text {
    color: white;
    text-align: center;
    font-size: 1.5em;
}

.skills-section__skills-container {
    padding: 0 40px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: 80%
}

.skill__text-container p {
    text-align: center;
}

.skill__text-container {
    border: solid 2px white;
    border-radius: 7px;
    padding: 6px 15px;
    width: 25%;
    max-width: 200px;
    min-width: 120px;
    font-weight: 800;
    text-align: center;
}

.skill__js {
    background-color: yellow;
}

.skill__css {
    background-color: #190DFF;
}

.skill__html {
    background-color: #FF8324;
}

.skill__react {
    background-color: #11cfff;
}

.skill__git {
    background-color: #F28D09;
}

.skill__uix {
    background-color: #aaa;
}

.skill__value-container {
    padding: 10px 0 0 0;
    display: flex;
    gap: 10px;
}

.skill__value__container-container {
    border: solid 3px #aaa;
    border-radius: 40px;
    background-color: white;
    width: 80%;
    height: 20px;
}

.skill__css p {
    color: white;
}

.skill__value__container-value {
    background-color: #222/*#3FDB49*/;
    height: 100%;
    border-radius: 40px 0 0 40px;
}

.percent-80 {
    width: 80%;
}

.percent-70 {
    width: 70%;
}

.percent-90 {
    width: 90%;
}

.percent-95 {
    width: 95%;
}

.skill__value__percent {
    color: white;
    font-size: 1.6em;
    position: relative;
    bottom: 5px;
}

/*QR skills and presentation*/

@container skills (min-width: 632px) {
    .skills-section__skills-container {
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(2, 1fr);
    }
}

/* MAIN     content section*/
.main__content-section {
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.content-section__title {
    color: #1fff33;
    font-size: 2em;
}

.content-section__title, .content-section__CV-container {
    text-align: center;
}

.content__list {
    padding: 0 30px;
}

.content-section-block a {
    font-size: 2em;
}

.content__list li {
    line-height: 40px;
    font-size: 1.5em;
}

/*Languages*/

.content-section__languages-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.content-section__languages-item {
    list-style: none;
    width: 253px;
    height: 125px;
    border: solid 2px white;
    border-radius: 20px;
    position: relative;
    padding: 50px 0 0 30px;
    font-weight: 1000;
    text-shadow: 0 0 10px black;
}

.content-section__languages-item:first-child {
    margin-top: 20px;
}

.item-sp {
    background: url("/images-folder/flags/img-flag-ecu.png") center / contain;
}

.item-ru {
    background: url("/images-folder/flags/img-flag-ru.png") center / contain;
}

.item-uk {
    background: url("/images-folder/flags/img-flag-uk.png") center / contain;
}

/*Contacts*/
.content-section__contact-list {
    display: flex;
    gap: 10px;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.content-section__contact-item {
    list-style: none;
    min-width: 100px;
    height: 100px;
    cursor: pointer;
}

.item-git {
    background: url("/images-folder/contacts/img2-git.png") center / contain;
    border-radius: 50%;
}

.item-telegram {
    background: url("/images-folder/contacts/img-telegram.png") center / contain;
}

.item-mail {
    background: url("/images-folder/contacts/img-mail.png") center / contain;
}

/*Main media*/

@media screen and (min-width: 843px) {
    body {
        background-color: #222;
    }

    .introduction-section__img {
        border-radius: 50%;
        height: 350px;
    }
    .main__container-introduction-skills {
        display: flex;
    }

    .main__skills-section {
        flex-grow: 10;
        background: #222 none;
        border-bottom: solid 2px white;
    }

    .skill__value__container-container {
        border-color: white;
        background-color: white;
    }

    .skill__value__container-value {
        background-color: black;
    }

    .content-section-block {
        background-color: #000;
        border-radius: 20px;
    }

    .main__content-section {
        display: grid;
        grid-template-rows: repeat(4, minmax(50px, auto));
        grid-template-columns: repeat(5, minmax(50px, auto));
    }

    .content-section__experience-container {
       grid-column: 1/span 2;
        grid-row: 1/span 2;
    }

    .content-section__languages-container {
        grid-column: 3/span 3;
        grid-row: 1/span 2;
    }
    .content-section__contact-title-container {
        grid-column: 1/span 2;
        grid-row: 3/span 1;
    }

    .content-section__contact-info-container {
        grid-column: 1/span 2;
        grid-row: 4/span 1;
    }

    .content-section__pending-container {
        grid-column: 3 /span 1;
        grid-row: 3 / span 1;
    }
    .content-section__CV-container {
        grid-column: 3 / span 1 ;
        grid-row: 4 / span 1;
    }

    .content-section__studies-container {
        grid-column: 4 / span 2;
        grid-row: 3 /span 2;
    }
    .content-section__languages-list {
        flex-direction: row;
        align-items: baseline;
    }
}