* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    --main-color: #000;
    --second-color: #fff;
    --plus-color: #3FDB49;
    --border-white: solid 2px white;
    background-color: var(--main-color);
}

/*NAV SECTION AND HEADER SECTION*/

header {
    background-color: black;
    position: sticky;
    top: 0;
    z-index: 5;
    height: 10vh;
    container-type: inline-size;
    container-name: header;
    border-bottom: var(--border-white);
}

.header__mark {
    display: inline;
    color: var(--second-color);
    position: relative;
    left: 25px;
    top: 25px;
}

.nav__label-checkbox {
    font-size: 3rem;
    font-weight: 600;
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    color: var(--plus-color);
}

.nav__checkbox, .nav__list {
    display: none;
}

.nav__list {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    flex-direction: column;
    justify-content: center;
    gap: 60px;
    background-color: #000000;
    z-index: -1;
}

.nav__checkbox:checked ~ .nav__list {
    display: flex;
}

.nav__item {
    text-align: center;
    list-style: none;
}

.nav__item a {
    color: var(--second-color);
    text-decoration: none;
    font-size: 1.4rem;
    transition-property: color;
    transition-duration: 0.5s;
}

.nav__item a:hover {
    color: var(--plus-color);
    text-shadow: 0 0 10px #1fff33;
}

    /*Header links*/
.content-section__contact-title-container, .content-section__experience-container,
.content-section__CV-container {
    scroll-margin-top: 50vh;
}

.main__container-projects {
    scroll-margin-top: 10vh;
}

/* container header*/

@container header (min-width: 600px) {

    .nav__label-checkbox {
        display: none;
        flex-direction: row;
    }

    .header__mark {
        display: none;
    }

    nav {
        margin-top: 20px;
    }

    .nav__list {
        width: auto;
        height: auto;
        position: initial;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        gap: initial;
        background-color: transparent;
        z-index: 1;
    }

    .nav__item:not(.nav__item:last-child) {
        position: relative;
    }

    .nav__item:last-child a {
        padding: 7px 22px;
        border: solid 2px var(--second-color);
        border-radius: 10px;
        background-color: var(--plus-color);
        align-self: baseline;
        transition-property: background-color;
        transition-duration: 0.6s;
    }

    .nav__item a:not(.nav__item:last-child a):hover {
        color: var(--plus-color);
        text-shadow: none;
    }


    .nav__item:last-child a{
        color: var(--second-color);
        text-shadow: none;
    }

    .nav__item:last-child a:hover {
        background-color: #3Fab49;
    }

    .nav__item::after {
        content: '';
        position: absolute;
        bottom: -3px;
        left: 0;
        height: 3%;
        width: 0;
        transition: width 0.3s ease-in-out;
        background-color: var(--plus-color);
    }

    .nav__item:hover:not(.nav__item:last-child)::after {
        width: 100%;
    }

}

/*MAIN PART*/
/*Photo and introduction section*/

.main__introduction-section {
    border-bottom: var(--border-white);
    padding: 20px;
    background-color: var(--main-color);
}

.introduction-section__img, .introduction-section__text-introduction {
    margin: auto;
}

.introduction-section__img {
    background-image: url("images-folder/yo.jpeg");
    background-position: 100% center;
    background-size: cover;
    max-width: 350px;
    height: 400px;
    border: solid 2px #3FDB49;
    border-radius: 10%;
}

.introduction-section__text-introduction {
    max-width: 400px;
}

h1 {
    padding-top: 30px;
    color: var(--second-color);
    text-align: center;
    line-height: 50px;
    font-weight: normal;
    font-size: 1.7em;
}

/* section of skills */
.main__container-introduction-skills {
    container-type: inline-size;
    container-name: skills;
}

.skills-section__tittle-container {
    padding: 30px 10px;
}

.skills-section__tittle-text {
    color: var(--second-color);
    text-align: center;
    font-size: 1.5em;
}

.skills-section__skills-container {
    padding: 0 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    height: 80%
}

.skills-container__skill p {
    text-align: center;
}

.skills-container__skill {
    border: var(--border-white);
    border-radius: 7px;
    padding: 6px 15px;
    width: 25%;
    max-width: 200px;
    min-width: 120px;
    font-weight: 800;
    text-align: center;
}

.skill__js {
    background-color: yellow;
}

.skill__css {
    background-color: #060669;
}

.skill__html {
    background-color: #FF8324;
}

.skill__react {
    background-color: #1e85a9;
}

.skill__git {
    background-color: #2d0602;
}

.skill__uix {
    background-color: #18274e;
}

.skills-container__skill:not(.skills-container__skill:first-child) p {
    color: var(--second-color);
}

.skills-container__img {
    display: none;
}
/*QR skills and presentation*/

@container skills (min-width: 829px) {
    .skills-container__img {
        display: initial;
        max-width: 100%;
        max-height: 140px;
        margin-top: 10px;
        transition: scale 0.25s ease-out;
    }

    .skills-container__img:hover {
        scale: 110%;
    }

    .skills-container__skill {
        max-height: 200px;
    }
}

/* MAIN     content section*/
.main__content-section {
    color: var(--second-color);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.content-section__title {
    color: #1fff33;
    font-size: 2em;
}

.content-section__title, .content-section__CV-container {
    text-align: center;
}

.content__list {
    padding: 0 30px;
}

.content-section-block a {
    font-size: 2em;
}

.content__list li {
    line-height: 40px;
    font-size: 1.5em;
}

/*Languages*/

.content-section__languages-names-list {
    display: none;
}

.content-section__languages-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

.content-section__languages-item {
    list-style: none;
    width: 200px;
    height: 125px;
    position: relative;
    font-weight: 1000;
    text-shadow: 0 0 10px black;
    text-align: center;
    padding-top: 40px;
    lighting-color: black;
}

.item-sp {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5))
    ,url("images-folder/flags/img-flag-ecu.png") center / contain no-repeat;
}

.item-ru {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5))
    ,url("images-folder/flags/img-flag-ru.png") center / contain no-repeat;
}

.item-uk {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5))
    ,url("images-folder/flags/img-flag-uk.png") center / 150% no-repeat;
}

/*Contacts*/

.content-section__contact-list {
    display: flex;
    gap: 10px;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}

.content-section__contact-item {
    list-style: none;
    min-width: 100px;
    height: 100px;
    cursor: pointer;
    transition: scale 0.2s ease-in-out;
}

.content-section__contact-item:hover {
    scale: 1.4;
}

.item-git {
    background: url("images-folder/contacts/img2-git.png") center / contain;
    border-radius: 50%;
}

.item-telegram {
    background: url("images-folder/contacts/img-telegram.png") center / contain;
}

.item-mail {
    background: url("images-folder/contacts/img-mail.png") center / contain;
}

.content-section__CV-container a {
    color: var(--plus-color);
    transition: color 0.25s ease-in-out;
}

.content-section__CV-container a:checked {
    color: var(--second-color);
}

.content-section__CV-container a:hover {
    color: var(--second-color);
}

.content-section__copied-message {
    display: none;
    position: absolute;
    list-style: none;
    width: 38%;
    max-width: 175px;
    color: var(--main-color);
    background-color: var(--second-color);
    padding: 10px 5px 5px 20px;
    right: 0;
    bottom: -60px;
    clip-path: polygon(20% 0%, 15% 10%, 100% 10%, 100% 100%, 0 100%, 0 11%, 25% 10%);
}

.content-section__copied-message p {
    font-size: 0.9rem;
    line-height: 25px;
}

    /*Projects Section*/

.main__container-projects {
    color: white;
    text-align: center;
    container-type: inline-size;
    container-name: projects;
}

.container-projects__tittle {
    margin: 40px 0 50px 0;
    font-size: 2em;
    color: #1fff33;
    letter-spacing: 13px;
}

.container-projects__projects-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.projects-list__item {
    font-size: 3em;
    border: solid white;
    border-width: 2px 0;
    height: 10rem;
    padding-top: 3rem;
    cursor: pointer;
}

.projects-list__row {
    display: none;
}

@container projects (min-width: 745px) {

    .container-projects__projects-list {
        flex-direction: row;
        align-items: center;
        padding: 0 30px;
    }

    .projects-list__item {
        border-width: 2px;
        overflow: hidden;
        border-radius: 5%;
    }

    .item-banished {
        display: none;
    }

    .projects-list__row {
        display: initial;
        position: relative;
        cursor: pointer;
        font-size: 8rem;
        color: rgba(100, 100, 100, 0.4);
        transition: color 0.4s;
    }

    .row-left {
        left: 3%;
    }

    .row-right {
        right: 2%;
    }


    .projects-list__row:hover {
        color: var(--plus-color);
    }

    .item_project_central {
        flex-grow: 3;
        min-height: 10rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .item_project_mini {
        flex-grow: 1;
    }
}

/*Footer section*/
.footer {
    margin-top: 50px;
    padding: 20px;
    color: white;
    height: 30vh;
    line-height: 35px;
    background-color: #111;
    border-top: solid 3px white;
}

.footer__text {
    text-align: center;
    font-size: 1.5em;
}

.footer__container {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.footer__container a {
    display: inline-block;
}

.footer__container a, .footer__last--message p a {
    color: #1fff33;
    text-decoration: none;
}

.footer__last--message {
    text-align: center;
}
/*End Footer section*/

/*Main media*/

@media screen and (min-width: 843px) {
    body {
        background-color: #222;
    }

    .introduction-section__img {
        border-radius: 50%;
        height: 350px;
    }
    .main__container-introduction-skills {
        display: flex;
    }

    .main__skills-section {
        flex-grow: 10;
        background: #222 none;
        border-bottom: var(--border-white);
    }

    .content-section-block {
        background-color: #000;
        border-radius: 20px;
        padding: 10px;
    }

    .main__content-section {
        display: grid;
        grid-template-rows: repeat(4, minmax(50px, auto));
        grid-template-columns: repeat(5, minmax(50px, auto));
        gap: 15px;
    }

    .content-section__experience-container {
       grid-column: 1/span 2;
        grid-row: 1/span 2;
    }

    .content-section__languages-container {
        grid-column: 3/span 3;
        grid-row: 1/span 2;
    }
    .content-section__contact-title-container {
        grid-column: 1/span 2;
        grid-row: 3/span 1;
    }

    .content-section__contact-info-container {
        grid-column: 1/span 2;
        grid-row: 4/span 1;
    }

    .content-section__contact-item:hover {
        scale: 1.2;
    }

    .content-section__pending-container {
        grid-column: 3 /span 1;
        grid-row: 3 / span 1;
    }
    .content-section__CV-container {
        grid-column: 3 / span 1 ;
        grid-row: 4 / span 1;
    }

    .content-section__studies-container {
        grid-column: 4 / span 2;
        grid-row: 3 /span 2;
    }
    .content-section__languages-list {
        flex-direction: row;
        align-items: baseline;
        justify-content: space-evenly;
    }

    .content-section__contact-title-container, .content-section__CV-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .content-section__languages-names-list {
        display: flex;
        justify-content: space-around;
    }

    .content-section__languages-names-item {
        margin-top: 10px;
        list-style: none;
        font-size: 1.3rem;
    }

    /*Message about clipboard*/
    .content-section__copied-message {
        width: 60%;
        right: -120px;
        top: -60px;
        bottom: auto;
        clip-path: polygon(6% 0, 100% 0, 100% 92%, 6% 92%, 0 100%, 6% 75%);
    }

    /*Footer*/
    .footer {
        height: 20dvh;
        display: flex;
        gap: 25%;
        justify-content: center;
        align-items: center;
    }

    .footer > p {
        font-size: 1rem;
    }
}